.cover__link {
  color: #fff;
  min-height: 740px;
  text-decoration: none;
  box-sizing: border-box;
  background-image: url(../../../images/cover.png);
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  background-repeat: no-repeat;
}

.cover__link::before {
  content: "";
  background-color: #2a2c2f;
  width: 100%;
  min-height: 100%;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity ease-in-out 0.5s;
}

.cover__link:hover::before {
  opacity: 0.8;
}


@media screen and (max-width: 1140px) {
  .cover__link {
    min-height: 640px;
    background-size: cover;
  }
}

@media screen and (max-width: 984px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 568px) {
  .cover__link {
    min-height: 200px;
  }
}